## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
.bundle
ext/balance_tags_c/Makefile
ext/balance_tags_c/balance_tags_c.bundle
ext/balance_tags_c/balance_tags_c.o
.rvmrc
